[Unit]
Description="Nomad Server Agent"
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=180
StartLimitBurst=18

[Service]
User=root
Environment=SYSTEMD_LOG_LEVEL=debug
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=VAULT_TOKEN={{ "/nomad-config/vault-token" | plugin "ctn" }}

ExecStart=/usr/local/bin/nomad agent -config="/etc/nomad.d/base.hcl" -config="/etc/nomad.d/server.hcl"
ExecReload=/bin/kill -SIGHUP $MAINPID

#ExecStartPost=
KillMode=process
KillSignal=SIGINT
LimitNOFILE=16384
LimitNPROC=infinity
Restart=always
RestartSec=4
TasksMax=infinity

[Install]
WantedBy=multi-user.target
