[Unit]
Description="Nomad Agent - server mode"
Wants=network-online.target
After=network-online.target
StartLimitInterval=180
StartLimitBurst=18

[Service]
User=root
Environment=SYSTEMD_LOG_LEVEL=debug
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=VAULT_TOKEN={{ "/nomad-config/vault-token" | plugin "ctn" }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config="/etc/nomad.d/base.hcl" -config="/etc/nomad.d/server.hcl" -node={{ "/node-name" | plugin "ctn" }}
#ExecStartPost=
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=always
RestartSec=3
TasksMax=infinity

[Install]
WantedBy=multi-user.target
