[http]

  [http.middlewares]

    {{ if eq (env "HOSTING_ENV") "gcp" }}
    [http.middlewares.dashboard-auth.basicAuth]
      removeHeader = true
      users = ["{{ "/dashboard-auth" | plugin "ctp" }}"]
    {{ end }}

    [http.middlewares.source-ratelimit.rateLimit]
      average = 300
      burst = 300
      period = 3

    [http.middlewares.dashboards-ip-allowlist.ipWhiteList]
      sourceRange = [
      {{- range tree "traefik/config/dashboards-ip-allowlist" }}
         "{{ .Value }}",
      {{- end }}
      ]

    [http.middlewares.strip-bc-session-prefix.stripPrefixRegex]
      regex = ["/bc-session-[a-z0-9]{14}"]

  [http.routers]
    [http.routers.traefik-dashboard]
      rule = "Host(`traefik.{{ "/domain-name" | plugin "ctp" }}`)"
      middlewares = [
        "dashboards-ip-allowlist", "source-ratelimit", {{ if eq (env "HOSTING_ENV") "gcp" }} "dashboard-auth" {{ end }}
      ]
      entryPoints = ["web"]
      service = "api@internal"

    [http.routers.consul-ui]
      rule = "Host(`consul.{{ "/domain-name" | plugin "ctp" }}`)"
      middlewares = [
        "dashboards-ip-allowlist", "source-ratelimit", {{ if eq (env "HOSTING_ENV") "gcp" }} "dashboard-auth" {{ end }}
      ]
      entryPoints = ["web"]
      service = "consul-ui"

    [http.routers.nomad-ui]
      rule = "Host(`nomad.{{ "/domain-name" | plugin "ctp" }}`)"
      middlewares = [
        "dashboards-ip-allowlist", "source-ratelimit", {{ if eq (env "HOSTING_ENV") "gcp" }} "dashboard-auth" {{ end }}
      ]
      entryPoints = ["web"]
      service = "nomad-ui"

    {{ range tree "traefik/_routes/" }}
    [http.routers.{{ .Key }}-router]
      {{ with $d := .Value | parseJSON }}
      service = "{{ $d.traefik_service_name }}"
      rule = "{{ $d.routing_rule }}"
      middlewares = [
        "source-ratelimit",
        {{ range $d.middlewares }}"{{ . }}",{{ end }}
      ]
      entryPoints = ["web"]
      {{ end }}
    {{ end }}

  [http.services]

    [http.services.consul-ui]
      [http.services.consul-ui.loadBalancer]
        [[http.services.consul-ui.loadBalancer.servers]]
          # todo: traefik 2.4 will support tls-encrypted services, when it's released change url to "https://...:8501" and update consul config base.hcl (https://github.com/traefik/traefik/issues/4835)
          url = "http://{{ "hashi-server-1" | plugin "go_discover" }}:8500/"

    [http.services.nomad-ui]
      [http.services.nomad-ui.loadBalancer]
        [[http.services.nomad-ui.loadBalancer.servers]]
          url = "http://{{ "hashi-server-1" | plugin "go_discover" }}:4646/"

  {{ range tree "traefik/_services/" }}
    {{ with $d := .Value | parseJSON }}
    [http.services.{{ $d.traefik_service_name }}]
      [http.services.{{ $d.traefik_service_name }}.loadBalancer]
        [[http.services.{{ $d.traefik_service_name }}.loadBalancer.servers]]
        {{ range $d.service_addresses }}
           url = "{{ . }}"
        {{ end }}
    {{ end }}
  {{ end }}
