datacenter = "dc1"
primary_datacenter = "dc1"

data_dir = "/opt/consul"

log_file = "/opt/consul/logs/"
log_level = "DEBUG"
log_json = true
enable_syslog = false


retry_join = [
{{ range $value := ( (plugin "go_discover" "consul-server") | split " ") -}}
  {{ "       " }} "{{ $value }}",
{{ end -}}
]
retry_interval = "3s"


acl {
  enabled = {{ "/consul-config/acl-enabled" | plugin "ctp" }}
  default_policy = "{{ "/consul-config/acl-default-policy" | plugin "ctp" }}"
  down_policy = "extend-cache"  # or "deny"
  enable_token_persistence = true
  # the comment below gets replaced on client nodes
  #__AGENT_TOKEN_STANZA__
}


encrypt = "__GOSSIP_ENCRYPTION_KEY__"

{{ if eq ("/consul-config/tls-enabled" | plugin "ctp") "true" }}
verify_server_hostname = true
verify_incoming = true  # set this false on clients when using auto_tls (we're not)
verify_outgoing = true
{{ end }}

connect {
  enabled = true
}

# todo: enable streaming to reduce RPC bandwith:
# https://www.consul.io/docs/agent/options#use_streaming_backend  (but wait until it is no longer marked as experimental)


# allows non-leaders to serve service-discovery HTTP requests (up to 3m during leader outage)
# discovery_max_stale = "3m"

dns_config {
  use_cache = true
  cache_max_age = "7s"
  allow_stale = true
  max_stale = "3m"  # affects how long DNS functions during leader outage
  node_ttl = "10s"
  service_ttl {
    "*" = "10s"
  }
  soa {
    # based on: https://medium.com/criteo-labs/configure-consul-for-performance-at-scale-f6a089706377
    expire = 86400
    # min_ttl reduces performance impact of clients polling for DNS entries when a service is offline. Downside is that when it comes back online, it will take longer for this to propagate.
    min_ttl = 15
    refresh = 3600
    retry = 600
  }
}


advertise_addr = "{{ "/node-ip" | plugin "ctn" }}"  # address advertised to other nodes in the cluster
bind_addr = "0.0.0.0"


node_name = "{{ "/node-name" | plugin "ctn" }}"

ports {
  http = 8500
  grpc = 8502
  dns = 8600

  {{ if eq ("/consul-config/tls-enabled" | plugin "ctp") "true" }}
  https = 8501
  {{ end }}
}

{{ if eq ("/node-type" | plugin "ctn") "vault" }}
client_addr = "127.0.0.1"
{{ else if eq ("/node-name" | plugin "ctn") "hashi-server-1" }}
client_addr = "0.0.0.0"  # temporary until traefik 2.4 is released
{{ else }}
client_addr = "0.0.0.0"
addresses {
  http = "127.0.0.1"
  # https, grpc, dns will default to client_addr
}
{{ end }}


performance {
  # choose value carefully, use 5 with low-end instances, otherwise use 1-2 in production
  raft_multiplier = 3
}

{{ if eq ("/hosting-env" | plugin "ctp") "gcp" }}
telemetry {
  # todo: configure prometheus here?
  statsd_address = "127.0.0.1:8125"
  disable_compat_1.9 = true
}
{{ end }}

# must be true for config_entries to be discovered
enable_central_service_config = true


# read about Consul auto-pilot for better resilience: https://learn.hashicorp.com/consul/day-2-operations/autopilot