datacenter = "dc1"
primary_datacenter = "dc1"

data_dir = "/opt/consul"

log_file = "/opt/consul/logs/"
log_level = "DEBUG"
log_json = true
enable_syslog = false


retry_join = [
{% for ip in consul_server_ips %}
    "{{ ip }}",
{%- endfor %}
]
retry_interval = "3s"


acl {
  enabled = true
  default_policy = "deny"
  down_policy = "deny"
  enable_token_persistence = true
  # the comment below gets replaced on client nodes
  #__AGENT_TOKEN_STANZA__
}


encrypt = "__GOSSIP_ENCRYPTION_KEY__"

verify_server_hostname = true
verify_incoming = true  # set this false on clients when using auto_tls (we're not)
verify_outgoing = true


connect {
  enabled = true
}

# allows non-leaders to serve service-discovery HTTP requests (up to 3m during leader outage)
# discovery_max_stale = "3m"

dns_config {
  use_cache = true
  cache_max_age = "7s"
  allow_stale = true
  max_stale = "3m"  # affects how long DNS functions during leader outage
  node_ttl = "10s"
  service_ttl {
    "*" = "10s"
  }
  soa {
    # based on: https://medium.com/criteo-labs/configure-consul-for-performance-at-scale-f6a089706377
    expire = 86400
    # min_ttl reduces performance impact of clients polling for DNS entries when a service is offline. Downside is that when it comes back online, it will take longer for this to propagate.
    min_ttl = 15
    refresh = 3600
    retry = 600
  }
}

bind_addr = "{{ node_ip }}"
node_name = "{{ node_name }}"

ports {
  https = 8501
  grpc = 8502
  dns = 8600
}

/*
{% if node_type == "vault" %}
client_addr = "127.0.0.1"
{% else %}
client_addr = "0.0.0.0"
{% endif %}
*/

{% if node_type == "traefik" %}
# testing this while debugging envoy sidecar
client_addr = "{{ node_ip }}"
{% else %}
client_addr = "0.0.0.0"
addresses {
  http = "0.0.0.0"
  https = "0.0.0.0"
  grpc = "0.0.0.0"
}
{% endif %}

performance {
  # choose value carefully, use 5 with low-end instances, otherwise use 1-2 in production
  raft_multiplier = 3
}


{% if hosting_env == "gcp" %}
telemetry {
  # todo: configure premetheus here?
  statsd_address = "127.0.0.1:8125"
  disable_compat_1.9 = true
}
{% endif %}

enable_central_service_config = true  # must be true for config_entries to be discovered


# read about Consul auto-pilot for better resilience: https://learn.hashicorp.com/consul/day-2-operations/autopilot