[Unit]
Description="Consul Agent - dev mode"
Requires=network-online.target
After=network-online.target
StartLimitIntervalSec=180
StartLimitBurst=18

[Service]
Type=simple
User=consul
Group=consul
Environment=SYSTEMD_LOG_LEVEL=debug
ExecStart=/usr/local/bin/consul agent -dev -data-dir=/tmp/ansible-data/consul-dev-agent-data
ExecReload=/bin/kill -SIGHUP $MAINPID
KillMode=process
Restart=always
RestartSec=4
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
